## Vercel/Linux deployment requirements
## Keep this file minimal. Your Windows dev freeze is in requirements-dev.txt.

Django==5.2.6
djangorestframework==3.16.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
django-cors-headers==4.9.0

whitenoise==6.11.0
argon2-cffi==25.1.0
bcrypt==5.0.0gunicorn==23.0.0